*.o
.DS_Store
/.vagrant/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/test_date_utils
/src/test_debug_utils
/src/test_pagination
/src/test_pool
/src/test_uri_utils
/src/test_uuid
/src/trip
/stamp-h1
/tests/Makefile
/tests/Makefile.in
/tests/atconfig
/tests/package.m4
/tests/testsuite
/tests/testsuite.log
/trip-*.tar.?z
/provisioning/downloads/
/src/test_file_utils
/src/test_tracking
/src/trip-server
/po/Makefile.in
/po/*.mo
/po/Makefile
/po/POTFILES
/po/stamp-it
/po/*.gmo
/po/remove-potcdate.sed
/po/stamp-po
/po/Makevars.template
/resources/static/bootstrap-*
/resources/static/openlayers-*
/resources/static/open-location-code-*
/resources/static/proj4js-*
/resources/static/zxcvbn-*
/src/test_geo_utils
/doc/Makefile.in
/doc/texinfo.tex
/doc/Makefile
/doc/mdate-sh
/doc/stamp-vti
/doc/version.texi
/doc/trip-user-guide.info
/doc/trip-server.info
/doc/trip-server.html/
/doc/trip-server.pdf
/doc/trip-server.t2p/
/doc/trip-user-guide.html/
/doc/trip-user-guide.pdf
/doc/trip-user-guide.t2p/
/doc/stamp-1
/doc/version-ug.texi
/src/test_dao_helper
/src/test_elevation_tile
/src/test_http_request
