[Unit]
Description=Trip Web Server
After=postgresql.service

[Service]
ExecStart=/usr/local/bin/trip-server --verbose --listen 0.0.0.0 --port 8080
#WorkingDirectory=/home/vagrant/tmp
Restart=always
#RestartSec=10
StandardOutput=append:/var/log/trip.log
SyslogIdentifier=trip
User=vagrant
Group=vagrant
Environment=LANG=en_GB.UTF-8 LC_ALL=en_GB.UTF-8

[Install]
WantedBy=multi-user.target
